{% extends 'base.html.twig' %}

{% block title %}Tables de multiplications
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1>{{ operation.operation }}
				=
			</h1>
			<div class="" id="res">{{ operation.result.result }}</div>
		</div>
		<div class="row">
			{% for item in operations %}
				<div class="test col text-center m-2">
					{{ item.result }}
				</div>
			{% endfor %}


		</div>
	</div>
{% endblock %}
