<!-- Footer -->
<footer class="footer  fixed-bottom text-center text-secondary">

	<div class="container d-flex my-2 justify-content-around">


			<p>
				<img src="{{ asset('build/images/google.svg') }}" alt="google">
				contact: manuelaquertier@gmail.com
			</p>

			<a class="" href="https://github.com/ManuelaQuertier">
				<img src="{{ asset('build/images/github.svg') }}" alt="github">
			</a>

			<a class="" href="https://www.linkedin.com/in/manuelaquertier/">
				<img src="{{ asset('build/images/linkedin.svg') }}" alt="linkedin">
			</a>
	</div>

	<div class="text-center bg-primary">
		© 2020 Copyright: Manue Quertier
	</div>

</footer>
